body {
    background-color: green;
    text-align: center;
    border: dotted;
    border-width: 5px;
    border-color: cyan;
  }
  h1 {
    border: dashed;
    border-width: 8px;
    border-color: yellow;
    color: darkred;
  }
  p {
    border:solid;
    border-color: black;
    border-width: 10px;
    color: lightblue;
    font-size: medium;
    font-family: cursive;
    font-weight: bold;
  }
  img {
    border: dashed;
    border-color: red;
    border-width: 10px;
    height: 500px;
    width: 800px;
  }
  